
*{
    margin: 0;
    border:0;
    padding:0;
 }

 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:blue;
    text-align: left;
 }

 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:blue;
    text-align: left;
 }

 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
 }

 img{
    display: block; 
    margin: 0 auto;
 }

 header{
    background: linear-gradient(to bottom,tomato, darkorange,orange);
 }

 footer{
    display:block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    background: linear-gradient(to top,tomato, darkorange,orange);
 }

 h6{
    text-align: right;
 }

 div{
    background-color: white;
    display: block;
    margin: 0 auto;
    text-align: justify;
    width: 90%;
    padding: 2%;
    border-radius: 20px;
 }

 body{
    background-color: whitesmoke;
 }